<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ETicaret.WebUI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ETicaret.WebUI.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-light bg-light">
            <form class="form-inline">
             
                <a class="btn btn-outline-success" type="button" href="/BenKimim/KendimiTanıtım">Kendimi Tanıtım Sayfası</a>
                <a class="btn btn-outline-success" type="button" asp-area="Home" asp-controller="Home" asp-action="Index">AnaSayfa</a>
                <a class="btn btn-outline-success" type="button" href="/Cart">Sepeti Görüntüle</a>
                
               
            </form>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                
                <a class="btn btn-primary" type="button" asp-area="Admin" asp-controller="Login" asp-action="GirisYap">Admin Sayfası Giriş</a>
               
               
            </div>  
        </nav>
    </header>   
    <div class="container">
        <main role="main" class="pb-3"> 
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - ETicaret.WebUI - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>