<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>Kendimi Tanıtım Ekranı</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="Travel Guide, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup
Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<link href="../css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400,700" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Text+Me+One" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

</head>
<body>


		

	<div class="main-section">

	

				<a class="btn btn-outline-success" type="button" href="/Home/Index" style="color:white ">Geri Dönmek İçin Tıkla</a>

			

		<div class="heading">
			<h1>Proje Yapan Kişi Tanıtım</h1>
		</div>
		<div class="child-main">
			<div class="child-left">
               
                <img src="~/images/bulentphoto.png" alt="image"/>
			</div>
			<div class="child-right">
				<h3>Bülent Muhammet Coşkun</h3>
				<h5>Proje</h5>
				<ul class="address">
					<li>
						<ul class="agileits-address-text ">
							<li class="agile-it-adress-left"><b>Doğum Günü : </b></li>
							<li><span>:</span>29/11/2001</li>
						</ul>
					</li>
					<li>
						<ul class="agileits-address-text">
							<li class="agile-it-adress-left"><b>Telefon Numarası : </b></li>
							<li><span>:</span>+90 531 348 00 52</li>
						</ul>
					</li>
					<li>
						<ul class="agileits-address-text">
							<li class="agile-it-adress-left"><b>Adress : </b></li>
							<li><span>:</span>İstanbul / Esenler</li>
						</ul>
					</li>
					<li>
						<ul class="agileits-address-text">
							<li class="agile-it-adress-left"><b>E-MAIL</b></li>
                            <li><span>:</span><a href="mailto:example@mail.com"> bulent.cskn@hotmail.com</a></li>
						</ul>
					</li>

				</ul>

			</div>
			<div class="clear"></div>
		</div>
	</div>
	





</body>
</html>