@model IEnumerable<ETicaret.Model.Entities.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml" ;
}

<h1>Kategoriler Listesi</h1>

<a asp-area="Admin" asp-controller="Category" asp-action="Add"  class="btn btn-success" id="CategoryAdd" >Yeni Kategori EKLE</a>

<br />

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Kategori ID</th>
            <th scope="col">Kategori Adı</th>
            <th scope="col">###</th>
            <th scope="col">###</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.CategoryName</td>
                <td><a class="btn btn-warning" asp-area="Admin" asp-controller="Category" asp-action="Update" asp-route-id="@item.ID">Güncelle</a></td>
                <td><a class="btn btn-danger" asp-area="Admin" asp-controller="Category" asp-action="Delete" asp-route-id="@item.ID">Sil</a></td>
            </tr>
        }
    </tbody>
</table>