@model IEnumerable<ETicaret.Model.Entities.Product>
@{
    ViewData["Title"] = "Products";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Ürünler</h1>

<br />

<div class="container mt-5">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="~/images/@item.ProductImageName" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@item.ProductName</h5>
                        <p class="card-text">@item.ProductDescription</p>
                        <a asp-controller="Product" asp-action="Detail" asp-route-id="@item.ID" class="btn btn-primary">Satın Al</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
